package {{.GoPackageName}}

// ResolveSelectors list all type and field names that are resolved by the protobuf rpc methods. This
// is usefull to automate hooking up lambda functions to them in AppSync using a tool like AWS CDK.
var ResolveSelectors = []string{
    {{ range $qualifier, $res := .Resolvers -}}
    "{{$qualifier}}",
    {{- end }}
}